<div id="ranking-table" class="row">

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <app-selection-dropdown [title]="'Show entries'" 
            [choices]="[10, 25, 50, 100, 0]" [choiceDesc]="['10', '25', '50', '100', 'All']"
            [default]="25"
            (selected)="selectShowRowNum($event)"></app-selection-dropdown>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <app-search-box [title]="'Search'" [disabled]="false"
            [placeholder]="'Type searching word here'"
            (searching)="searchTrigger($event)"></app-search-box>
        </div>
        <div id="pagination-div" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <app-paginate-button-set [choices]="pageChoices"
            [choiceDesc]="pageChoices" [selectedPage]="selectedPage"
            (pageSelect)="selectTablePage($event)"></app-paginate-button-set>
        </div>
    </div>

    <ng-container *ngIf="showRowText !== undefined">
        <div id="show-row-text">{{showRowText}}</div>
    </ng-container>

    <!-- Data table -->
    <table width="100%">
        <thead>
            <tr class="head">
                <th *ngFor="let key of rowNames; let i = index;"
                class="text-center table-row"
                [ngStyle]="{'width':rowWidths[i]}">{{key}}</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let key of spec.orderKeys; let k = index;">
                <tr *ngIf="rowShow(k)"
                [ngClass]="{'body':true, 'odd':rowClass(k)}">
                    <td *ngFor="let value of rowKeys; let i = index;"
                    [ngClass]="{'table-row':true, 'text-center':alignCenter[i]}"
                    [ngStyle]="{'width':rowWidths[i]}">
                        {{selectedData[key][value]}}
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
