#globe-country-selection {
    position: absolute;
    top: 50%;
    left: 2.5vw;
    font-size: 1.4vw;
    color: #fffff0;
}
#globe-country-selection label {
    font-weight: 300 !important;    
    overflow: hidden;
    margin-bottom: 0;
}
#globe-country-selection select {
    font-size: 2.4vw;
    font-weight: 600;
    height: auto;
    color: orange;
}
#globe-country-selection select option {
    font-size: 1.2vw;
    color: #0e0e0e;
    font-weight: 300;
}