<nav class="navbar navbar-fixed-top shadow">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#headerNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="home-text" class="navbar-brand" href="#" 
            (click)="changePage('Welcome'); collapeSelf();">
                <span id="img"><img src="assets/img/logo.png" alt="Logo"></span>
                <ng-container *ngIf="title !== null">{{title}}</ng-container>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="headerNavbar">
            <ul class="nav navbar-nav">
                <li [ngClass]="{'active':classPage('Welcome')}">
                    <a href="#" (click)="changePage('Welcome'); collapeSelf();">
                    Welcome</a></li>
                <li [ngClass]="{'active':classPage('Analysis')}">
                    <a href="#" (click)="changePage('Analysis'); collapeSelf();">
                    Analysis</a></li>
                <!-- <li [ngClass]="{'active':classPage('Report')}">
                    <a href="#" (click)="changePage('Report'); collapeSelf();">
                    Generate Report</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li [ngClass]="{'active':classPage('Homepage')}">
                    <a href="#" (click)="changePage('Homepage'); collapeSelf();">
                    Homepage</a></li> -->
                <li [ngClass]="{'active':classPage('About')}">
                    <a href="#" (click)="changePage('About'); collapeSelf();">
                    About US</a></li>
            </ul>
        </div>
    </div>
</nav>