<!-- Save button -->
<!-- <div align="right">
    <app-html-pdf-button [title]="'Report as PDF'"
    [saveId]="'save-div'"></app-html-pdf-button>
</div> -->

<!-- Save all information below -->
<div id="save-div">
    <!-- <h3 align="middle" [innerHTML]="report.descEdit" style="margin-bottom:40px;"></h3> -->
    <h3 align="middle" style="margin-bottom:40px;">
        <span class="special">Station {{report.station}}</span> : {{report.descEdit}}
    </h3>
    
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <!-- Station selection -->
            <app-selection-dropdown [title]="'เลือกสถานีตรวจ'" 
            [choices]="stationKeys" [choiceDesc]="stationDesc"
            [default]="selectedSpec['station']"
            (selected)="selectStation($event)"></app-selection-dropdown>

            <!-- Criteria selections -->
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <app-selection-dropdown [title]="'ความถี่ข้อมูล'" 
                    [choices]="[0, 1, 2]" [choiceDesc]="['รายปี', 'รายเดือน', 'รายวัน']"
                    [default]="selectedSpec['freq']"
                    (selected)="selectFrequency($event)"></app-selection-dropdown>
                </div>
                <div class="col-md-4 col-lg-4">
                    <ng-container *ngIf="selectedSpec.freq != 0">
                        <app-selection-dropdown [title]="'เลือกปี'" 
                        [choices]="yearChoices" [choiceDesc]="yearChoices"
                        [default]="selectedSpec['year']"
                        (selected)="selectYear($event)"></app-selection-dropdown>
                    </ng-container>
                    <ng-container *ngIf="selectedSpec.freq == 0">
                        <app-selection-dropdown [title]="'เลือกปี'" 
                        [choices]="yearChoices" [choiceDesc]="yearChoices"
                        [default]="selectedSpec['year']" [disabled]="true"
                        (selected)="selectYear($event)"></app-selection-dropdown>
                    </ng-container>
                </div>
                <div class="col-md-4 col-lg-4">
                    <ng-container *ngIf="selectedSpec.freq == 2">
                        <app-selection-dropdown [title]="'เลือกเดือน'" 
                        [choices]="monthChoices" [choiceDesc]="monthDesc"
                        [default]="selectedSpec['month']"
                        (selected)="selectMonth($event)"></app-selection-dropdown>
                    </ng-container>
                    <ng-container *ngIf="selectedSpec.freq != 2">
                        <app-selection-dropdown [title]="'เลือกเดือน'" 
                        [choices]="monthChoices" [choiceDesc]="monthDesc"
                        [default]="selectedSpec['month']" [disabled]="true"
                        (selected)="selectMonth($event)"></app-selection-dropdown>
                    </ng-container>
                </div>
            </div>

            <!-- Report area -->
            <div id="report-area" class="row" style="margin-bottom:15px;">
                <ng-container *ngIf="report!==null && selectedSpec['freq']==0">
                    <h3 style="margin:0 0 25px 0; line-height:38px;">
                    ข้อมูล ค.ศ. <span class="special">{{report.from}}</span>
                    ถึง ค.ส. <span class="special">{{report.to}}</span></h3>
                    <div class="col-bound col-lg-6">
                        ปริมาณน้ำฝนรวมในระยะเวลานี้คือ <span class="special">{{commafy(report.totalRain)}}</span> mm.
                        โดยจำนวนฝนตกเฉลี่ยอยู่ที่ <span class="special">{{report.avgYear}}</span> mm./ปี
                        และคิดได้เป็นฝนตกเฉลี่ย <span class="special">{{report.avgDay}}</span> mm./วัน
                        <br><br>ปริมาณน้ำฝนเฉลี่ยสูงเป็นลำดับที่ 
                        <span class="special">{{report.overall[selectedSpec.station].rank}}</span>
                        จาก <span class="special">{{report.dataLength}}</span> 
                        จุดตรวจวัดน้ำฝน
                    </div>
                    <div class="visible-xs visible-sm visible-md" style="margin:25px;"></div>
                    <div class="col-bound col-xs-6 col-sm-6 col-md-6 col-lg-3">
                        <div align="center" style="margin-bottom:15px; font-size:16px;">ฝนตก 
                        <span class="special">{{commafy(report.dayRain.r)}}</span> วัน</div>
                        <app-donut-chart [donutColor]="'#F39C12'"
                        [percentage]="report.rainProb"></app-donut-chart>
                    </div>
                    <div class="col-bound col-xs-6 col-sm-6 col-md-6 col-lg-3">
                        <div align="center" style="margin-bottom:15px; font-size:16px;">ไม่ตก 
                        <span class="special">{{commafy(report.dayRain.n)}}</span> วัน</div>
                        <app-donut-chart [donutColor]="'#F39C12'"
                        [percentage]="report.noRainProb"></app-donut-chart>
                    </div>
                </ng-container>
                <ng-container *ngIf="report!==null && selectedSpec['freq']==1">
                    <h3 style="margin:0 0 25px 0; line-height:38px;">
                        ข้อมูล ค.ศ. <span class="special">{{report.from}}</span>
                    </h3>
                    <div class="col-bound col-lg-6">
                        ปริมาณน้ำฝนรวมในปีนี้คือ <span class="special">{{commafy(report.totalRain)}}</span> mm.
                        โดยจำนวนฝนตกเฉลี่ยอยู่ที่ <span class="special">{{report.avgMonth}}</span> mm./เดือน
                        และคิดได้เป็นฝนตกเฉลี่ย <span class="special">{{report.avgDay}}</span> mm./วัน
                        <br><br>ปริมาณน้ำฝนโดยรวมสูงเป็นลำดับที่ 
                        <span class="special">{{report.overall[selectedSpec.year].rank}}</span>
                        จาก <span class="special">{{report.dataLength}}</span> 
                        ปีที่มีการเก็บข้อมูล
                    </div>
                    <div class="visible-xs visible-sm visible-md" style="margin:25px;"></div>
                    <div class="col-bound col-xs-6 col-sm-6 col-md-6 col-lg-3">
                        <div align="center" style="margin-bottom:15px; font-size:16px;">ฝนตก 
                        <span class="special">{{commafy(report.yearly.r)}}</span> วัน</div>
                        <app-donut-chart [donutColor]="'#F39C12'"
                        [percentage]="report.rainProb"></app-donut-chart>
                    </div>
                    <div class="col-bound col-xs-6 col-sm-6 col-md-6 col-lg-3">
                        <div align="center" style="margin-bottom:15px; font-size:16px;">ไม่ตก 
                        <span class="special">{{commafy(report.yearly.n)}}</span> วัน</div>
                        <app-donut-chart [donutColor]="'#F39C12'"
                        [percentage]="report.noRainProb"></app-donut-chart>
                    </div>
                </ng-container>
                <ng-container *ngIf="report!==null && selectedSpec['freq']==2">
                    <h3 style="margin:0 0 25px 0; line-height:38px;">
                        ข้อมูลเดือน<span class="special">{{monthObj[selectedSpec.month]}}</span>
                        ค.ศ. <span class="special">{{report.from}}</span>
                    </h3>
                    <div class="col-bound col-lg-6">
                        ปริมาณน้ำฝนรวมในเดือนนี้คือ <span class="special">{{commafy(report.totalRain)}}</span> mm.
                        โดยจำนวนฝนตกเฉลี่ยอยู่ที่ <span class="special">{{report.avgDay}}</span> mm./วัน
                        <br><br>ปริมาณน้ำฝนโดยรวมสูงเป็นลำดับที่ 
                        <span class="special">{{report.overall[selectedSpec.month].rank}}</span>
                        จาก <span class="special">{{report.dataLength}}</span> 
                        เดือนที่มีการเก็บข้อมูลในปีนี้
                    </div>
                    <div class="visible-xs visible-sm visible-md" style="margin:25px;"></div>
                    <div class="col-bound col-xs-6 col-sm-6 col-md-6 col-lg-3">
                        <div align="center" style="margin-bottom:15px; font-size:16px;">ฝนตก 
                        <span class="special">{{commafy(report.daily.r)}}</span> วัน</div>
                        <app-donut-chart [donutColor]="'#F39C12'"
                        [percentage]="report.rainProb"></app-donut-chart>
                    </div>
                    <div class="col-bound col-xs-6 col-sm-6 col-md-6 col-lg-3">
                        <div align="center" style="margin-bottom:15px; font-size:16px;">ไม่ตก 
                        <span class="special">{{commafy(report.daily.n)}}</span> วัน</div>
                        <app-donut-chart [donutColor]="'#F39C12'"
                        [percentage]="report.noRainProb"></app-donut-chart>
                    </div> 
                </ng-container>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6" style="margin-bottom:15px;">
            <!-- Histogram plot -->
            <ng-container *ngIf="histData !== null">
                <ng-container *ngIf="selectedSpec['freq'] == 0">
                    <app-plot-histogram [histData]="histData"
                    [title]="'Yearly Rainfall in Millimeter'"
                    [xlab]="'year'" [ylab]="'millimeter'"
                    [marginPer]="{left:0.1, right:0.1, top:0.1, bottom:0.13}"></app-plot-histogram>
                </ng-container>
                <ng-container *ngIf="selectedSpec['freq'] == 1">
                    <app-plot-histogram [histData]="histData"
                    [title]="'Monthly Rainfall in Millimeter'"
                    [xlab]="'month'" [ylab]="'millimeter'"></app-plot-histogram>
                </ng-container>
                <ng-container *ngIf="selectedSpec['freq'] == 2">
                    <app-plot-histogram [histData]="histData"
                    [title]="'Daily Rainfall in Millimeter'"
                    [xlab]="'day'" [ylab]="'millimeter'"
                    [marginPer]="{left:0.1, right:0.1, top:0.1, bottom:0.1}"></app-plot-histogram>
                </ng-container>
            </ng-container>

            <!-- Data collector -->
            <ng-container *ngIf="report !== null">
                <div class="div1 row" style="margin:0;">
                    <div class="col-md-8 col-lg-8">
                    <span class="special" style="font-weight:600;">
                    Report by:</span> {{report.by}}</div>
                    <div class="col-md-4 col-lg-4">
                    <span class="special" style="font-weight:600;">
                    Date:</span> {{report.collectedDate}}</div>
                </div>
            </ng-container>
        </div>
    </div>

    <!-- Data table -->
    <ng-container *ngIf="report.overall !== undefined && selectedSpec['freq']==0">
        <app-data-table [data]="report.overall" 
        [rowKeys]="['station', 'descEdit', 'avgYear', 'rank']"
        [rowNames]="['Station id', 'Station name', 'Rainfall (mm./year)', 'Ranking']"
        [rowWidths]="['15%', '55%', '15%', '15%']"
        [alignCenter]="[true, false, true, true]"></app-data-table>
    </ng-container>
    <ng-container *ngIf="report.overall !== undefined && selectedSpec['freq']==1">
        <app-data-table [data]="report.overall" 
        [rowKeys]="['year', 'totalRain', 'dayRain', 'noDayRain', 'rank']"
        [rowNames]="['Year', 'Total Rainfall (mm.)', 'Raining Days', 'No Raining Days', 'Ranking']"
        [rowWidths]="['20%', '20%', '20%', '20%', '20%']"
        [alignCenter]="[true, true, true, true, true]"></app-data-table>
    </ng-container>
    <ng-container *ngIf="report.overall !== undefined && selectedSpec['freq']==2">
        <app-data-table [data]="report.overall" 
        [rowKeys]="['month', 'totalRain', 'dayRain', 'noDayRain', 'rank']"
        [rowNames]="['Month', 'Total Rainfall (mm.)', 'Raining Days', 'No Raining Days', 'Ranking']"
        [rowWidths]="['20%', '20%', '20%', '20%', '20%']"
        [alignCenter]="[true, true, true, true, true]"></app-data-table>
    </ng-container>
</div>
