ul > li > a {
    background: #262626;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.team-member-name {
    font-size: 22px;
    font-weight: 600;
    color: #F39C12;
}

.team-member-role {
    font-size: 18px;
    color: rgb(148, 155, 162);
}