<div class="container">
  <div class="row">
      <div class="col-md-12 team-introduction">
          <h2 class="text-center">พวกเราคือ Big Data Solution</h2>
          <p class="text-center inverse" style="font-size:18px;">
            ทีมงานของเราประกอบด้วยผู้เชี่ยวชาญในหลากหลายสาขาไม่ว่าจะเป็น MATH, STATISTIC, DESIGN, 
            POLITIC, COMPUTER SCIENCE, และ PROGRAMING
          </p>
      </div>

      <ul>
          <li class="col-md-3 col-xs-6">
              <a href="#" data-toggle="modal" data-target="#sarun" class="team-member wow fadeInUp" data-wow-delay=".2s">
                  <span class="team-member-photo">
                  <img src="assets/img/ourteam/sar.JPG" alt="team member">
              </span>
                  <span class="team-member-name">S. Seepun</span>
                  <span class="team-member-role">Co-Founder</span>
              </a>
          </li>
          <li class="col-md-3 col-xs-6">
              <a href="#" data-toggle="modal" data-target="#pawinee" class="team-member wow fadeInUp" data-wow-delay=".2s">
                  <span class="team-member-photo">
                  <img src="assets/img/ourteam/paw.JPG" alt="team member">
              </span>
                  <span class="team-member-name">P. Supinna</span>
                  <span class="team-member-role">Co-Founder</span>
              </a>
          </li>

          <div class="clearfix visible-sm visible-xs"></div>
          <li class="col-md-3 col-xs-6">
              <a href="#" data-toggle="modal" data-target="#patsiam" class="team-member wow fadeInUp" data-wow-delay=".2s">
                  <span class="team-member-photo">
                  <img src="assets/img/ourteam/pech.jpg" alt="team member">
              </span>
                  <span class="team-member-name">P. Ratanasettaavon</span>
                  <span class="team-member-role">Global Customer Consultant</span>
              </a>
          </li>
          <li class="col-md-3 col-xs-6">
              <a href="#" data-toggle="modal" data-target="#domrongphol" class="team-member wow fadeInUp" data-wow-delay=".2s">
                  <span class="team-member-photo">
                  <img src="assets/img/ourteam/dom.JPG" alt="team member">
              </span>
                  <span class="team-member-name">D. Sangmanee</span>
                  <span class="team-member-role">Political Data Analyst</span>
              </a>
          </li>

          <div class="clearfix visible-md visible-sm visible-xs"></div>
          <li class="col-md-3 col-xs-6">
              <a href="#" data-toggle="modal" data-target="#kirote" class="team-member wow fadeInUp" data-wow-delay=".2s">
                  <span class="team-member-photo">
                  <img src="assets/img/ourteam/teammember.png" alt="team member">
              </span>
                  <span class="team-member-name">K. Arpanutud</span>
                  <span class="team-member-role">Solution Engineer</span>
              </a>
          </li>
          <li class="col-md-3 col-xs-6">
              <a href="#" data-toggle="modal" data-target="#chokdee" class="team-member wow fadeInUp" data-wow-delay=".2s">
                  <span class="team-member-photo">
                  <img src="assets/img/ourteam/teammember.png" alt="team member">
              </span>
                  <span class="team-member-name">C. Siawsolit</span>
                  <span class="team-member-role">Operation Manager</span>
              </a>
          </li>

          <div class="clearfix visible-sm visible-xs"></div>
          <li class="col-md-3 col-xs-6">
              <a href="#" data-toggle="modal" data-target="#wiphu" class="team-member wow fadeInUp" data-wow-delay=".2s">
                  <span class="team-member-photo">
                  <img src="assets/img/ourteam/wip.JPG" alt="team member">
              </span>
                  <span class="team-member-name">W. Youyen</span>
                  <span class="team-member-role">Physical Engineer</span>
              </a>
          </li>
          <li class="col-md-3 col-xs-6">
              <a href="#" data-toggle="modal" data-target="#tofu" class="team-member wow fadeInUp" data-wow-delay=".2s">
                  <span class="team-member-photo">
                  <img src="assets/img/ourteam/tof2.jpg" alt="team member">
              </span>
                  <span class="team-member-name">Tofu the Bear</span>
                  <span class="team-member-role">Security</span>
              </a>
          </li>
      </ul>

      <!-- Sarun Seepun -->
      <div id="sarun" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
              <!-- Modal content-->
              <div class="modal-content shadow">
                  <a class="close" data-dismiss="modal"><span class="ti-close"></span></a>
                  <div class="modal-body modal-lg">
                      <div class="team-member-detail">
  
                          <div class="col-md-8">
                              <div class="team-member-description">
                                  <h4 class="">Experiences</h4>
                                  <ul>
                                      <li class="">
                                          <span class="team-member-description-date text-center">2016</span>
                                          <span class="team-member-description-info">
                                      <span class="team-member-description-title">Art Director</span>
                                          <span class="team-member-description-company">3px Advertising Agency | France, Bordeux</span>
                                          <span class="team-member-description-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                      </span>
                                          </span>
                                      </li>
  
                                      <li class="">
                                          <span class="team-member-description-date text-center">2016</span>
                                          <span class="team-member-description-info">
                                      <span class="team-member-description-title">Art Director</span>
                                          <span class="team-member-description-company">3px Advertising Agency | France, Bordeux</span>
                                          <span class="team-member-description-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                      </span>
                                          </span>
                                      </li>
  
  
                                      <li class="">
                                          <span class="team-member-description-date text-center">2016</span>
                                          <span class="team-member-description-info">
                                      <span class="team-member-description-title">Art Director</span>
                                          <span class="team-member-description-company">3px Advertising Agency | France, Bordeux</span>
                                          <span class="team-member-description-details">
                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                      </span>
                                          </span>
                                      </li>
                                  </ul>
                              </div>
  
                              <div class="team-member-skills">
                                  <h4 class="">Skills</h4>
                                  <ul class="row">
                                      <li class="col-sm-6" data-wow-duration="1s">
                                          <span class="team-member-skills-label">photoshop</span>
                                          <span class="team-member-skills-diagram">
                                          <span class="team-member-skills-55"></span>
                                          </span>
                                      </li>
                                      <li class="col-sm-6" data-wow-duration="1s">
                                          <span class="team-member-skills-label">HTML</span>
                                          <span class="team-member-skills-diagram">
                                          <span class="team-member-skills-99"></span>
                                          </span>
                                      </li>
                                      <li class="col-sm-6" data-wow-duration="1.2s">
                                          <span class="team-member-skills-label">CSS</span>
                                          <span class="team-member-skills-diagram">
                                          <span class="team-member-skills-12"></span>
                                          </span>
                                      </li>
                                      <li class="col-sm-6" data-wow-duration="1.2s">
                                          <span class="team-member-skills-label">JS</span>
                                          <span class="team-member-skills-diagram">
                                          <span class="team-member-skills-79"></span>
                                          </span>
                                      </li>
                                      <li class="col-sm-6" data-wow-duration="1.4s">
                                          <span class="team-member-skills-label">photoshop</span>
                                          <span class="team-member-skills-diagram">
                                          <span class="team-member-skills-55"></span>
                                          </span>
                                      </li>
                                      <li class=" col-sm-6" data-wow-duration="1.4s">
                                          <span class="team-member-skills-label">HTML</span>
                                          <span class="team-member-skills-diagram">
                                          <span class="team-member-skills-99"></span>
                                          </span>
                                      </li>
                                      <li class="col-sm-6" data-wow-duration="1.6s">
                                          <span class="team-member-skills-label">CSS</span>
                                          <span class="team-member-skills-diagram">
                                          <span class="team-member-skills-12"></span>
                                          </span>
                                      </li>
                                      <li class="col-sm-6" data-wow-duration="1.6s">
                                          <span class="team-member-skills-label">JS</span>
                                          <span class="team-member-skills-diagram">
                                          <span class="team-member-skills-79"></span>
                                          </span>
                                      </li>
                                  </ul>
                              </div>
                          </div>
  
                          <div class="col-md-3 col-md-push-1">
                              <div class="team-member-sidebar">
                                  <div class="text-center">
                                      <img class="team-member-sidebar-photo shadow" src="assets/img/ourteam/sar.JPG" alt="user photo">
                                      <span class="team-member-name h3">Sarun Seepun</span>
                                  </div>
  
                                  <div class="team-member-sidebar-list">
                                      <ul>
                                          <li class="">
                                              <span class="contact-icon"><span class="ti-mobile"></span></span>
                                              <span class="contact-link"><a href="tel:+19096822667">+1 (909) 682-2667</a></span>
                                          </li>
                                          <li class="">
                                              <span class="contact-icon"><span class="ti-mouse-alt"></span></span>
                                              <span class="contact-link"><a href="mailto:sarun_sla@hotmail.com">sarun_sla@hotmail.com</a></span>
                                          </li>
                                          <li class="">
                                              <span class="contact-icon"><span class="ti-facebook"></span></span>
                                              <span class="contact-link"><a href="https://www.facebook.com/sarun.seepun" target="_blank">
                                              Sarun Seepun</a></span>
                                          </li>
                                      </ul>
                                  </div>
                                  <div class="team-member-sidebar-list">
                                      <ul>
                                          <li class="">
                                              <span class="team-member-sidebar-list-label">Thai</span>
                                              <span class="team-member-sidebar-list-rating pull-right">
                                              <span class="ti-star"></span>
                                              <span class="ti-star"></span>
                                              <span class="ti-star"></span>
                                              <span class="ti-star"></span>
                                              <span class="ti-star"></span>
                                              </span>
                                          </li>
                                          <li class="">
                                              <span class="team-member-sidebar-list-label">English</span>
                                              <span class="team-member-sidebar-list-rating pull-right">
                                              <span class="ti-star"></span>
                                              <span class="ti-star"></span>
                                              <span class="ti-star"></span>
                                              <span class="ti-star"></span>
                                              <span class="ti-star languages-rating-unactive"></span>
                                              </span>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>
