<div id="app-container">

<div class="page-selector" align="middle">
    <span *ngFor="let p of pageDisplay; let i=index;" (click)="changePage(pageArray[i])"
    [ngClass]="{'active':pageSelectClass(pageArray[i])}">{{p}}</span>
</div>

<!-- Intro and population pages -->
<ng-container *ngIf="page==0 || page==1">
    <app-introduction-page #introPage [page]="page"></app-introduction-page>
    <app-interactive-globe-abs #globe 
    [globeResources]="resources"></app-interactive-globe-abs>
    <!-- <app-interactive-globe #globe 
    [globeResources]="resources"></app-interactive-globe> -->
    <ng-container *ngIf="page==1">
        <div id="info-container1">
            <div class="headline stage-1">
                Expected global sales of 
                <br>healthy food products
                <br>in 2017
            </div>
            <div class="infoline stage-1">$1 trillion</div>
        </div>
        <div id="info-container2">
            <div class="headline stage-2" align="right">World population</div>
            <div class="infoline stage-2" align="right">7.6 billion</div>

            <div class="headline stage-3" align="right" style="padding-top:4vw;">US population</div>
            <div class="infoline stage-3" align="right">324 million</div>
        </div>
        <div class="main-statistic-source">Source: Euromonitor International</div>
    </ng-container>
</ng-container>

<!-- Statistic page -->
<ng-container *ngIf="page==2">
    <app-usa-statistic-page #usaStatisticPage 
    [resources]="resources"></app-usa-statistic-page>
</ng-container>

<!-- Grocery sale page -->
<ng-container *ngIf="page==3">
    <app-grocery-sale-page #grocerySale></app-grocery-sale-page>
</ng-container>

<!-- Problem page -->
<ng-container *ngIf="page==4">
    <app-problem-page #problemPage></app-problem-page>
</ng-container>

<!-- Survey page -->
<ng-container *ngIf="page==5">
    <app-survey-page #surveyPage [resources]="resources"></app-survey-page>
</ng-container>

<!-- Solution page -->
<ng-container *ngIf="page==6">
    <app-solution-page [resources]="resources"></app-solution-page>
</ng-container>

<!-- Machine learning/Big data page -->
<ng-container *ngIf="page==7">
    <app-ml-bd-page [resources]="resources"></app-ml-bd-page>
</ng-container>

<!-- Smart Cart page -->
<ng-container *ngIf="page==8">
    <app-smart-cart-page #smartCartPage></app-smart-cart-page>
</ng-container>

<!-- Persona Mr.Mana page -->
<ng-container *ngIf="page==9">
    <app-persona-mana-page #personaMana></app-persona-mana-page>
</ng-container>

<!-- Persona Miss Manee page -->
<ng-container *ngIf="page==10">
    <app-persona-manee-page #personaManee></app-persona-manee-page>
</ng-container>

<!-- Result page -->
<ng-container *ngIf="page==11">
    <app-result-page></app-result-page>
</ng-container>

<!-- Future page -->
<ng-container *ngIf="page==12">
    <app-future-page></app-future-page>
</ng-container>

<!-- Reference page -->
<ng-container *ngIf="page==13">
    <app-reference-page></app-reference-page>
</ng-container>

<!-- Thank page -->
<ng-container *ngIf="page==14">
    <app-thank-page></app-thank-page>
</ng-container>

</div>