<div id="usa-statistic-page" class="wow fadeInLeft">
  <div id="year-selector-container" class="row">
    <div *ngFor="let y of [2014, 2015, 2016];" align="middle"
    class="col-xs-4 col-sm-4 colr-md-4 col-lg-4 year-selector"
    (click)="changeYear(y)">
      <span [ngClass]="{'active':yearActive(y)}">{{y}}</span>
    </div>
  </div>

  <div id="map-container">
    <app-usa-map [resources]="resources"></app-usa-map>
  </div>

  <div id="statistic-div">
    <div class="statistic-note" align="right">*2 million or more in annual sales</div>
    <div class="statistic-header" align="right">Total grocery stores in US</div>
    <div class="statistic-info" align="right">{{info.stores}}</div>
    <ng-container *ngIf="selectedYear > 2014">
      <div class="statistic-header" align="right"
      style="padding-top:2vw;">Percent increase</div>
      <div class="statistic-info" align="right">{{info.percent}} %</div>
    </ng-container>
  </div>

  <div class="statistic-source">
    Source: Progressive Grocer Magazine
  </div>
  
</div>
