#solution-page {
    padding-top: 5vw;
}

.headline {
    font-size: 4vw;
    font-weight: 600;
    pointer-events: none;
    padding-bottom: 2vw;
}
.subinfo {
    font-size: 3.5vw;
    pointer-events: none;
}
span.special {
    color: orange;
}

.nf-container {
    position: absolute;
    /* background: #0e0e0e; */
    width: 17.5%;
    height: 26vw;
    pointer-events: none;
    top: 28vw;
    /* opacity: 0;
    transition: opacity 0.65s; */
}
.nf-container div {
    height: 26vw; 
}
#nutrition-fact1 {
    left: 3vw;
}
#nutrition-fact2 {
    left: 22vw;
}
#nutrition-fact3 {
    left: 41vw;
}
#nutrition-fact4 {
    left: 60vw;
}
#nutrition-fact5 {
    left: 79vw;
}
#nutrition-fact6 {
    left: 76vw;
}

img.nf-tag {
    width: 100%;
    height: 100%;
}
.nf-container div img.product-tag {
    padding-top: 4vw;
    width: 90%;
    height: auto;
    /* opacity: 0.85; */
}
#product4 {
    padding-top: 5.5vw;
}
#product5 {
    padding-top: 2.6vw;
}

#product01 {
    padding-top: 8vw;
}
#product02 {
    padding-top: 8vw;
}
#product03 {
    padding-top: 8vw;
}
#product04 {
    padding-top: 9.5vw;
}
#product05 {
    padding-top: 6.6vw;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -10;
    opacity: 0;
    transition: opacity 0.6s;
}
