<div id="particles-js"></div>

<div id="solution-page" class="wow fadeInLeft">
  <div class="headline" align="middle">
    Solution
  </div>

  <div id="nutrition-fact1" class="nf-container">
    <img src="assets/img/misc/nf1.jpg">
  </div>
  <div id="nutrition-fact2" class="nf-container">
    <img src="assets/img/misc/nf2.jpg">
  </div>
  <div id="nutrition-fact3" class="nf-container">
    <img src="assets/img/misc/nf3.jpg">    
  </div>
  <div id="nutrition-fact4" class="nf-container">
    <img src="assets/img/misc/nf4.jpg"> 
  </div>
  <div id="nutrition-fact5" class="nf-container">
    <img src="assets/img/misc/nf5.jpg"> 
  </div>
  <div id="nutrition-fact6" class="nf-container">
    <img src="assets/img/misc/nf6.jpg">    
  </div>

  <!-- Right side animation -->
  <img id="phone-app-img" src="assets/img/misc/phone_app2.png">

</div>
