<div id="particles-js"></div>

<div id="solution-page" class="wow fadeInLeft">
  <div class="headline" align="middle">
    <span style="color:orange;">Our</span> Solution
  </div>

  <div id="nutrition-fact1" class="nf-container">
    <img src="assets/img/misc/nf1.jpg">
  </div>
  <div id="nutrition-fact2" class="nf-container">
    <img src="assets/img/misc/nf2.jpg">
  </div>
  <div id="nutrition-fact3" class="nf-container">
    <img src="assets/img/misc/nf3.jpg">    
  </div>
  <div id="nutrition-fact4" class="nf-container">
    <img src="assets/img/misc/nf4.jpg"> 
  </div>
  <div id="nutrition-fact5" class="nf-container">
    <img src="assets/img/misc/nf5.jpg"> 
  </div>
  <!-- <div id="nutrition-fact6" class="nf-container">
    <img src="assets/img/misc/nf6.jpg">    
  </div> -->

  <!-- Right side animation -->
  <!-- <img id="phone-app-img" class="abs-img" src="assets/img/misc/phone_app2.png"> -->

  <!-- <img id="phone-app-img2" class="abs-img" src="assets/img/misc/phone_app3.png">
  <img id="app-icon1" class="abs-img app-sm-icon" src="assets/img/misc/app1.png">
  <img id="app-icon2" class="abs-img app-sm-icon" src="assets/img/misc/app2.png">
  <img id="app-icon3" class="abs-img app-sm-icon" src="assets/img/misc/app3.png">
  <img id="app-icon4" class="abs-img app-sm-icon" src="assets/img/misc/app4.png">
  <img id="app-icon5" class="abs-img app-sm-icon" src="assets/img/misc/app5.png">
  <img id="app-icon6" class="abs-img app-sm-icon" src="assets/img/misc/app6.png">
  <img id="app-icon7" class="abs-img app-sm-icon" src="assets/img/misc/app7.png">
  <img id="app-icon8" class="abs-img app-sm-icon" src="assets/img/misc/app8.png"> -->

  <!-- <img id="star-rating" class="abs-img" src="assets/img/icon/star_rating.png"> -->

</div>
