#smart-cart-page {
    padding-top: 5vw;
}

#smart-cart-bg {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100%;
    height: auto;
    z-index: -20;
    opacity: 0.55;
}

#dot-overlay-container {
    position: absolute;
    left: -5%;
    top: -5%;
    width: 110%;
    height: 1000px;
    z-index: -10;
}

#ipad-img-container {
    padding-top: 0.2vw;
    overflow: hidden;
    padding-left: 15vw;
}
#ipad-img-container img {
    width: calc(90% + 13vw);
    height: auto;
    pointer-events: none;
}
#smart-cart-app {
    position: absolute;
    left: 21%;
    top: 8.2vw;
    width: 78%;
    height: 42.2vw;
    background: #fffff0;
    z-index: 5;
}

#persona-icon {
    position: absolute;
    left: 1.5vw;
    top: 9vw;
    width: 16.75vw;
    height: auto;
    z-index: 1000;
}
#persona-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4vw 1vw 1vw 1vw;
    width: 19.75vw;
    height: 1500px;
    background: #fffff0;
    z-index: 900;
    border: 0.3vw solid #0e0e0e;
    color: #0e0e0e;
    font-size: 1.7vw;
    line-height: 2.8vw;
    opacity: 0.8;
}
#persona-container span {
    font-weight: 600;
}
#persona-container span.type1 {
    color: #0169be;
}
#persona-container span.type2 {
    color: red;
}
#persona-container div {
    /* color: orange; */
    font-size: 4vw;
    font-weight: 600;
    padding-bottom: 20vw;
}

#persona-video {
    position: absolute;
    display: inline;
    top: -13vw;
    left: 0;
    z-index: -10;
    opacity: 0.8;
}