<!-- <video id="persona-video" width="110%" height="auto" autoplay loop>
  <source src="assets/video/persona_footage2.mp4" type="video/mp4">
</video> -->
<img id="smart-cart-bg" src="assets/img/bg/cgu_campus.jpg">
<div id="dot-overlay-container"></div>

<div id="smart-cart-page" class="wow fadeInLeft">

  <ng-container *ngIf="init == true">
    <div id="ipad-img-container" align="middle">
      <img src="assets/img/misc/iphone.png">    
      <div id="smart-cart-app">
        <app-smart-cart-app #smartCartApp [appPage]="appPage" 
        (appPageChange)="appPageChange($event)"
        [defaultPrefValues]="[5,0,5,1,5,2.5,5]"
        [defaultProduct]="'Tomboy'"
        [defaultCheckout]="'Applegate Farms'"></app-smart-cart-app>
      </div>    
    </div>
  </ng-container>

  <img id="persona-icon" src="assets/img/icon/persona_2.png">
  <div id="persona-container">
    <div align="middle">Persona</div>
    <span>Miss Manee</span> is a <span class="type1">PhD student</span>. 
    She has <span class="type2">no time to do grocery shopping</span> since
    she needs to <span class="type2">graduate within 5 years</span>. 
    She needs <span class="type1">less sugar</span>, 
    <span class="type1">fat</span>, and <span class="type1">sodium</span> 
    to stay healthy.
  </div>

</div>
  