#grocery-sale-page {
    padding-top: 5vw;
}

#grocery-sale-page #barchart-container {
    padding: 0 4vw 0 4vw;
}

.statistic-source {
    position: absolute;
    bottom: 10px;
    right: 0;
    padding-right: 3vw; 
    font-size: 1.5vw;
    color: #8f8f8f;
}