#result-page {
    padding-top: 5vw;
}

.headline {
    font-size: 4vw;
    font-weight: 600;
    pointer-events: none;
    /* background: -webkit-linear-gradient(#d3e1ed, #0169be);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #fffff0;
    padding-bottom: 3.5vw;
}

.pb-container {
    padding: 0 7vw 0 4vw;
}
.pb-slot {
    /* padding-top: 1vw; */
}

.product {
    padding: 0 0 2vw 0;
    width: 60%;
    height: auto;
}
#preview1 {
    width: 36%;
}
#preview2 {
    width: 34.5%;
}
#preview3 {
    width: 32%;
}
#preview4 {
    width: 22%;
}
#preview5 {
    width: 55%;
}
#preview6 {
    width: 55%;
}
