#thank-page {
    padding-top: 5vw;
    z-index: 100;
}

.headline {
    font-size: 4vw;
    font-weight: 600;
    pointer-events: none;
    transition: opacity 1s;
}

#link-info {
    font-size: 4.6vw;
    font-weight: 600;
    pointer-events: none;
    padding-top: 18vw;     
    transition: opacity 1s;
}

#thanks {
    font-size: 14vw;
    font-weight: 600;
    pointer-events: none;
    position: absolute;
    width: 100%;
    top: calc(50% - 9vw);
    opacity: 0;
    background: #ffffff0c;
    transition: opacity 1s;
}

#company-video {
    position: absolute;
    display: inline;
    top: 0;
    left: 0;
    z-index: -10;
    opacity: 1;
}