#world-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    z-index: -100;
    opacity: 0.3;
}

#world-halo {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 3600px;
    margin-left: -1805px;
    margin-top: -235px;
    opacity: 0;
    transition: opacity 1s;
}