<!-- <div id="problem-page" class="wow fadeInLeft" (click)="nextStage()"> -->
<div id="problem-page" class="wow fadeInLeft">

  <video id="grocery-video" width="110%" height="auto" autoplay loop>
    <source src="assets/video/grocery_footage.mp4" type="video/mp4">
  </video>
  <div id="dot-overlay-container"></div>

  <div class="headline" align="middle">
    Large Grocery Product Choices
  </div>

  <img class="stage" id="confused-img" src="assets/img/icon/confused_white.png">

  <div id="problem-div">
    <div class="problem-header stage-1" align="right">
      Average items carried in a grocery in 2016
    </div>
    <div class="problem-info stage-1" align="right">38,900 items</div>

    <br><br>
    <div class="problem-note stage-2" align="right">*Brands found in the majority of grocery stores</div>
    <div class="problem-header stage-2" align="right">Brand name hot dogs alone</div>
    <div class="problem-info stage-2" align="right">14 brands</div>
  </div>

  <div class="statistic-source stage-1">
    Source: Food Marketing Institute
  </div>

</div>

