#future-page {
    padding-top: 5vw;
}

.headline {
    font-size: 4vw;
    background: -webkit-linear-gradient(white, steelblue);
    /* background: -webkit-linear-gradient(#d3e1ed, #0169be); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    pointer-events: none;
}

#interactive-globe-half {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -20;
}