<div id="future-page" class="wow fadeInLeft">
  <div class="headline" align="middle">
    Future Direction
  </div>

  <div id="interactive-globe-half" *ngIf="resources !== undefined">
    <app-interactive-globe-half [globeResources]="resources"></app-interactive-globe-half>
  </div>

  <div class="direction-text" id="stage1" align="middle">
    Work with Nutritionists
  </div>
  <div class="direction-text" id="stage2" align="middle">
    Prototype in Shopping Cart
  </div>
  <div class="direction-text" id="stage3" align="middle">
    Improve ML Algorithm
  </div>

</div>
